.left10px{
	margin-left:10px;
}
input.ui-pg-input {
	width: auto;
	padding: 0px;
	margin: 0px;
	line-height: normal
}

select.ui-pg-selbox {
	width: auto;
	padding: 0px;
	margin: 0px;
	line-height: normal
}

.autoHeidiv{height:auto!important;height:400px;min-height:400px;}

.infoBlue{
    border-bottom: #357ebd 1pt outset;
    text-align: center;
    border-left: #357ebd 1pt outset;
    padding-bottom: 3px;
    line-height: 1;
    background-color: #428bca;
    padding-left: 3px;
    width: 30px;
    padding-right: 3px;
    height: 20px;
    color: #ffffff;
    font-size: 12px;
    vertical-align: middle;
    border-top: #357ebd 1pt outset;
    cursor: pointer;
    font-weight: 300;
    border-right: #357ebd 1pt outset;
    text-decoration: none;
    padding-top: 3px;
    margin-right: auto; 
    margin-left: auto; 
}

.infoBlue:hover{
    border-bottom: #285e8e 1pt inset;
    text-align: center;
    border-left: #285e8e 1pt inset;
    padding-bottom: 3px;
    line-height: 1;
    background-color: #3276b1;
    padding-left: 3px;
    width: 30px;
    padding-right: 3px;
    height: 20px;
    color: #ffffff;
    font-size: 12px;
    vertical-align: middle;
    border-top: #285e8e 1pt inset;
    font-weight: 300;
    border-right: #285e8e 1pt inset;
    text-decoration: underline;
    padding-top: 3px;
    margin-right: auto; 
    margin-left: auto; 
}

.aircraftBlue{
    border-bottom: #357ebd 1pt outset;
    text-align: center;
    border-left: #357ebd 1pt outset;
    padding-bottom: 3px;
    line-height: 1;
    background-color: #428bca;
    padding-left: 3px;
    width: 50px;
    padding-right: 3px;
    height: 20px;
    color: #ffffff;
    font-size: 12px;
    vertical-align: middle;
    border-top: #357ebd 1pt outset;
    cursor: pointer;
    font-weight: 300;
    border-right: #357ebd 1pt outset;
    text-decoration: none;
    padding-top: 3px;
    margin-right: auto; 
    margin-left: auto; 
}
.aircraftBlue:hover{
    border-bottom: #285e8e 1pt inset;
    text-align: center;
    border-left: #285e8e 1pt inset;
    padding-bottom: 3px;
    line-height: 1;
    background-color: #3276b1;
    padding-left: 3px;
    width: 50px;
    padding-right: 3px;
    height: 20px;
    color: #ffffff;
    font-size: 12px;
    vertical-align: middle;
    border-top: #285e8e 1pt inset;
    font-weight: 300;
    border-right: #285e8e 1pt inset;
    text-decoration: underline;
    padding-top: 3px;
    margin-right: auto; 
    margin-left: auto; 
}

.infoTable
{
    border-bottom: #404040 2px solid;
    border-left: #404040 2px solid;
    padding-bottom: 2px;
    background-color: #f5f5f5;
    padding-left: 2px;
    padding-right: 2px;
    height: 35px;
    color: #000000;
    border-top: #404040 2px solid;
    border-right: #404040 2px solid;
    padding-top: 2px
}
.infoEngTable
{
    border-bottom: #404040 2px solid;
    border-left: #404040 2px solid;
    background-color: #ffffff;
    height: 35px;
    color: #ffffff;
    border-top: #404040 2px solid;
    border-right: #404040 2px solid
}
.adp_roll
{
    display: none;
    z-index: 1000;
}
.link_hover
{
    cursor: pointer
}
.hand
{
    cursor: pointer
}
.center
{
    text-align: center
}
.bold
{
    font-weight: 600
}
.sWF
{
    color: #ffffff;
    font-size: 10px;
    text-decoration: none;
    border:solid #f0f0f0;
}

.table-swf{
  width:200px; 
  height:26px;
  cellspacing:0; 
  cellpadding:0; 
  background-color:#ffffff;
}


.table-swf td {
	border:2px solid #000000!important;
	font-weight: 600;
	text-align: center;
	color: #ffffff;
    font-size: 10px;
    text-decoration: none;
  	text-color:#ffffff;
  	padding-top:5px !important;
  	padding-bottom:5px !important;
  	height:25px;
}


/*
0//新告警
1//已接受
2//监控
3//完成
4//拒绝
5//系统智能关闭
6//MPF已匹配
7//已加入观察单
8//监控关闭
9//系统自动过期
*/
.alarm_event_status_0{
  background-color:#9999CC; /* 紫色 */
  
/*background-color:#FF6666; 
  important
  background-color:#FFAAD7; 
  niang
  background-color:#f89406; 
  warning
   */
}
.alarm_event_status_1 {
  background-color: #3a87ad;/*info  */
}
.alarm_event_status_2 {
  background-color: #f89406;/* warning */
}
.alarm_event_status_3 {
  background-color: #468847;/* success */
}
.alarm_event_status_4 {
  background-color: #999999;/* default */
}
.alarm_event_status_5 {
  background-color: #999999;/* default */
}
.alarm_event_status_6 {
  background-color: #999999;/* default */
}
.alarm_event_status_7 {
  background-color: #999999;/* default */
}
.alarm_event_status_8 {
  background-color: #999999;/* default */
}
.alarm_event_status_9 {
  background-color: #999999;/* default */
}
.alarm_event_status_10 {
  background-color: #999999;/* default */
}
.alarm_event_status_11 {
  background-color: #999999;/* default */
}
.alarm_event_status_12 {
  background-color: #999999;/* default */
}


/* 告警等级颜色 */
.alarm_Level_0 {
     background-color: #ff0000;/* 红 */
}
.alarm_Level_1 {
     background-color: #da4f49;/* 红 */
}
.alarm_Level_3 {
     background-color: #da4f49;/* 红 */ 
}
.alarm_Level_10 {
     background-color: #faa732;/* 橙 */
}
.alarm_Level_120 {
     background-color: #f7ff00;/* 黄 */ 
}
.alarm_Level_200 {
     background-color: #dddddd;/* 白 */
}
.alarm_Level_1000 {
     background-color: #006dcc;/* 蓝 */
}


/*边长16图片的样式*/
.img16-border{
    border:1px solid #000;
    margin-left:auto;
    margin-right:auto;
    width:17px;
    height:17px;
}

/*性能预警-->告警类别  */
/*发动机ENG*/
.pgc-engine-sudden{
	background:url(../images/alarmLevel/engine_sudden_3.png) no-repeat ;
}
.pgc-engine-trend{
	background:url(../images/alarmLevel/engine_trend_3.png) no-repeat ;
}
.pgc-engine-exceed{
	background:url(../images/alarmLevel/engine_exceed_3.png) no-repeat ;
}
/*滑油FLD*/
.pgc-fld-short-1{
	background:url(../images/alarmLevel/oil_short_1.jpg) no-repeat ;
}
.pgc-fld-short-2{
    background:url(../images/alarmLevel/oil_short_2.jpg) no-repeat ;
}
.pgc-fld-short-3{
    background:url(../images/alarmLevel/oil_short_3.jpg) no-repeat ;
}
.pgc-fld-long-1{
	background:url(../images/alarmLevel/oil_long_1.jpg) no-repeat ;
}
.pgc-fld-long-2{
    background:url(../images/alarmLevel/oil_long_2.jpg) no-repeat ;
}
.pgc-fld-long-3{
    background:url(../images/alarmLevel/oil_long_3.jpg) no-repeat ;
}

/*zTree自定义图标 */
.ztree li span.button.pIcon01_ico_open{background: url(../images/airplane/airplane-close.jpg) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle;opacity:0.8;}
.ztree li span.button.pIcon01_ico_close{background: url(../images/airplane/airplane-open.jpg) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle;opacity:0.8;}
.ztree li span.button.pIcon02_ico_docu{background: url(../images/airplane/airplane-close.jpg) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle;opacity:0.8;}



/* 高级查询表单样式 */
 .form_table{
	margin-bottom:-10px
}

/* 定义表单字体大小 */
.form_table tr,
.form_table td,
.form_table select,
.form_table input[type="text"],
.form_table input[type="password"],
.form_table input[type="datetime"],
.form_table input[type="datetime-local"],
.form_table input[type="date"],
.form_table input[type="month"],
.form_table input[type="time"],
.form_table input[type="week"],
.form_table input[type="number"],
.form_table input[type="email"],
.form_table input[type="url"],
.form_table input[type="search"],
.form_table input[type="tel"],
.form_table input[type="color"]{  
  font-size: 12px;
  line-height:1.2;
}


.tree-select{
background-color: #fff;
display:none;
position:absolute;
padding:5px;
width:190px;
z-index:1100;
border:1px solid #ccc;
border-radius:5px;
}

.aiport-select{
background-color:#fff;
display:none;
position:absolute;
padding:5px;
width:265px;
z-index:1500;
border:1px solid #ccc;
border-radius:5px;
font-size:12px;
}

.airport_info_weather{
background-color: #fff;
display:none;
position:absolute;
padding:5px;
max-width:850px;
height:60px;
z-index:1000;
border:1px solid #ccc;
border-radius:5px;
font-size:12px;
}


#dialog-flight{
background-color: #fff;
display:none;
position:absolute;
padding:5px;
max-width:450px;
width:400px;
z-index:1000;
border:1px solid #ccc;
border-radius:5px;
font-size:12px;
}

.topPic { 
	background-repeat: no-repeat;
	background-position: left top;
	height: 75px;
}





.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
    padding: 10px 0;
}
/*
*系统内提示信息
*by zzh
*/
#info-container-id{
	position:fixed;
	bottom:5px;
	z-index:9999;
	width:70%;
	height:auto;
	margin-left:15%;
	
	
}
#info-container-id .info-success {
	color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border: 1px solid transparent;
  	border-radius: 4px;
  	margin-bottom:2px;
	padding:15px;
}
#info-container-id .info-danger {
	color: #b94a48;
  	background-color: #f2dede;
  	border-color: #eed3d7;
  	border: 1px solid transparent;
  	border-radius: 4px;
  	margin-bottom:2px;
	padding:15px;
}

/*
*时间轴
*by zzh
*/
.timeline-container{
	margin:0 auto;
	padding:0;
	height:100%;
	width:100%;
}
.timeline-container table.table caption {
	font-weight:bold;
}
.timeline-container table.table{
	width:220px;
}



.timeline {
	margin:0 auto;
	width:5px;
	height:500px;
	background: #EEEEEE
}
.timeline-node-start {
	background:  url(../images/timeline.png) repeat scroll 0 -35px ;
    height: 10px;
    left: -10px;
    position: relative;
    top: 0;
    width: 29px;
    z-index: 5000;
}
.timeline-node-end {
	background:url(../images/timeline.png) repeat scroll 0 -35px ;
    height: 10px;
    left: -10px;
    position: relative;
    top: 490px;
    width: 29px;
    z-index: 5000;
}
.timeline-node-event {
	background : url(../images/timeline.png) repeat -26px -8px;
    position: relative;
    left: -2px;
    
    height: 10px;
    width: 10px;
    z-index: 999;
    cursor:pointer;
}

/*
*十个格子 灰色
*by zzh
*/
.btn-adp-gray {
	 background-color: #999999;
}
/* add by John */
.btn-adp-orchid {
  color: #fff;
  background-color: #9999cc;
  border-color: #9485b7;
}
.btn-adp-orchid:hover,
.btn-adp-orchid:focus,
.btn-adp-orchid:active,
.btn-adp-orchid.active,
.open .dropdown-toggle.btn-adp-orchid {
  color: #fff;
  background-color: #9278aa;
  border-color: #6c6fa2;
}
.btn-adp-orchid:active,
.btn-adp-orchid.active,
.open .dropdown-toggle.btn-adp-orchid {
  background-image: none;
}
.btn-adp-orchid.disabled,
.btn-adp-orchid[disabled],
fieldset[disabled] .btn-adp-orchid,
.btn-adp-orchid.disabled:hover,
.btn-adp-orchid[disabled]:hover,
fieldset[disabled] .btn-adp-orchid:hover,
.btn-adp-orchid.disabled:focus,
.btn-adp-orchid[disabled]:focus,
fieldset[disabled] .btn-adp-orchid:focus,
.btn-adp-orchid.disabled:active,
.btn-adp-orchid[disabled]:active,
fieldset[disabled] .btn-adp-orchid:active,
.btn-adp-orchid.disabled.active,
.btn-adp-orchid[disabled].active,
fieldset[disabled] .btn-adp-orchid.active {
  background-color: #9999cc;
  border-color: #9485b7;
}
.btn-adp-orchid .badge {
  color: #9999cc;
  background-color: #fff;
}
/*等待：位于中间位置*/
.waiting {
	background:url(../images/icon/ico_loading.gif) !important;
	background-size:30px 30px !important;
	background-repeat:no-repeat !important;
	background-position:center !important;
}
/*input输入框等待：位于靠右位置*/
input[type='text'].waiting {
	background:url(../images/icon/ico_loading.gif) !important;
	background-size:30px 30px !important;
	background-repeat:no-repeat !important;
	background-position:right !important;
	padding-right:30px;
}
/**
一个遮盖层
**/
div.modal-waiting {
z-index:9000;
	
position: fixed;
bottom: 0;
left: 0;
right: 0;
top: 0;

background-color: #000;
	
filter: alpha(opacity=50);
opacity: .5;

}
/**
显示的效果（等待效果）
**/
div.modal-waiting-info{
z-index:9999;

position: fixed;
top:45%;
left:45%;

color:#eee;
font-weight:bold;
margin:auto;
padding:15px 50px;	
width:300px;

background-image:url(../images/icon/ico_loading.gif) !important;
background-size:50px 50px !important;
background-repeat:no-repeat !important;
background-position:left;
}

/*机队监控消息盒子
by zzh*/
div.smart-info-box {
	z-index:1999;
	border:1px solid #EBCCD1;
	background-color:#FFFFFF;
	position:fixed;
	left:0;
	top:180px;
	height:360px;
	display:none;
}
div.sinfobox-body {
	float:left;width:0;overflow:hidden;
}
div.sinfobox-switch{
	height:358px;width:40px;padding:0;line-height:358px;overflow:hidden;
	border:none;
}




[class^="iconBtn-"]{
	background-image:url(../images/icon/iconbtn.png);
	background-repeat:no-repeat;
	background-color:transparent;
    display: inline-block;
    height: 12px;
    vertical-align: text-top;
    width: 12px;
}
.iconBtn-dep{
	background-position:0px 0px;
}
.iconBtn-arr{
	background-position:-12px 0px;
}
.iconBtn-flt{
	background-position:-24px 0px; 
}