<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.banshion.portal.web.sys.dao.SysMenuMapper" >
    <resultMap id="BaseResultMap" type="com.banshion.portal.web.sys.domain.SysMenu" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="permission" property="permission" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
        <result column="menu_order" property="menuOrder" jdbcType="INTEGER" />
        <result column="description" property="description" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
        id, name, url, parent_id, permission, description, menu_order, type
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.banshion.portal.web.sys.domain.SysMenuExample" >
        select
        <if test="distinct" >
            distinct
        </if>
        <include refid="Base_Column_List" />
        from sys_menu
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null" >
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from sys_menu
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from sys_menu
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="com.banshion.portal.web.sys.domain.SysMenuExample" >
        delete from sys_menu
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.banshion.portal.web.sys.domain.SysMenu" >
        insert into sys_menu (id, name, url,
        parent_id, permission, description,
        menu_order, type)
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
        #{parentId,jdbcType=VARCHAR}, #{permission,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
        #{menuOrder,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.banshion.portal.web.sys.domain.SysMenu" >
        insert into sys_menu
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="name != null" >
                name,
            </if>
            <if test="url != null" >
                url,
            </if>
            <if test="parentId != null" >
                parent_id,
            </if>
            <if test="permission != null" >
                permission,
            </if>
            <if test="description != null" >
                description,
            </if>
            <if test="menuOrder != null" >
                menu_order,
            </if>
            <if test="type != null" >
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null" >
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="permission != null" >
                #{permission,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="menuOrder != null" >
                #{menuOrder,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.banshion.portal.web.sys.domain.SysMenuExample" resultType="java.lang.Integer" >
        select count(*) from sys_menu
        <if test="_parameter != null" >
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map" >
        update sys_menu
        <set >
            <if test="record.id != null" >
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.name != null" >
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.url != null" >
                url = #{record.url,jdbcType=VARCHAR},
            </if>
            <if test="record.parentId != null" >
                parent_id = #{record.parentId,jdbcType=VARCHAR},
            </if>
            <if test="record.permission != null" >
                permission = #{record.permission,jdbcType=VARCHAR},
            </if>
            <if test="record.description != null" >
                description = #{record.description,jdbcType=VARCHAR},
            </if>
            <if test="record.menuOrder != null" >
                menu_order = #{record.menuOrder,jdbcType=INTEGER},
            </if>
            <if test="record.type != null" >
                type = #{record.type,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map" >
        update sys_menu
        set id = #{record.id,jdbcType=VARCHAR},
        name = #{record.name,jdbcType=VARCHAR},
        url = #{record.url,jdbcType=VARCHAR},
        parent_id = #{record.parentId,jdbcType=VARCHAR},
        permission = #{record.permission,jdbcType=VARCHAR},
        description = #{record.description,jdbcType=VARCHAR},
        menu_Order = #{record.menuOrder,jdbcType=INTEGER},
        type = #{record.type,jdbcType=INTEGER}
        <if test="_parameter != null" >
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.banshion.portal.web.sys.domain.SysMenu" >
        update sys_menu
        <set >
            <if test="name != null" >
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null" >
                parent_id = #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="permission != null" >
                permission = #{permission,jdbcType=VARCHAR},
            </if>
            <if test="description != null" >
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="menuOrder != null" >
                menu_order = #{menuOrder,jdbcType=INTEGER},
            </if>
            <if test="type != null" >
                type = #{type,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.banshion.portal.web.sys.domain.SysMenu" >
        update sys_menu
        set name = #{name,jdbcType=VARCHAR},
        url = #{url,jdbcType=VARCHAR},
        parent_id = #{parentId,jdbcType=VARCHAR},
        permission = #{permission,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        menu_order = #{menuOrder,jdbcType=INTEGER},
        type = #{type,jdbcType=INTEGER}
        where id = #{id,jdbcType=VARCHAR}
    </update>


    <select id="getOrderCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(id) from sys_menu where parent_id = #{parentId, jdbcType=VARCHAR}
    </select>

    <select id="checkNameExists" parameterType="com.banshion.portal.web.sys.domain.SysMenu" resultMap="BaseResultMap">
        select * from sys_menu where parent_Id = #{parentId, jdbcType=VARCHAR} and name = #{name, jdbcType=VARCHAR}
    </select>

    <update id="updateMenuOder" parameterType="java.lang.String" >
        update sys_menu set menu_order=#{menuOrder} where id=#{id}
    </update>
    
    <select id="getMenuByUserId" resultMap="BaseResultMap" parameterType="java.lang.String" >
      select
<!--         ID,name ,TYPE,PERMISSION, url,PARENT_id ,MENU_ORDER,description -->
        <include refid="Base_Column_List" />
        from sys_menu m  where m.PERMISSION in
      (
           select p.id from
           sys_permission p,
           sys_user_role r,
           sys_role_permission rp
           where r.USER_ID= #{userId} and r.ROLE_ID=rp.ROLE_ID   and p.id=rp.PERMISSION_ID
      )
        order by MENU_ORDER

    </select>

    <select id="getMenuTreeById" resultMap="BaseResultMap" >

        select DISTINCT <include refid="Base_Column_List" />
        from sys_menu
        where 1=1 and
        <foreach collection="array" item="id" index="index"
                 open="(" close=")" separator=" or ">
            FIND_IN_SET(id , queryParent( #{id}))
        </foreach>


    </select>

</mapper>
